@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    background-image: url(../images/stars.svg);
    background-color: black;
}

.stars {
    scale: 2 2;

}

.asteroid {
    position: absolute;
    background-repeat: no-repeat;
    width: 200px;
    top: 5em;
    left: 5em;
    animation: asteroid-rotate linear 3s infinite; 
    background-size: 60%;
    
}

@keyframes asteroid-rotate {
    
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);

    }
    
}

.space-ship {
    position: absolute;
    background-repeat: no-repeat;
    width: 160px;
    top: 5em;
    left: 30em;
    animation: asteroid-rotate linear 3s infinite; 
    background-size: 60%;
}

@keyframes space-ship-rotate {
    
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);

    }
    
}

